<script>
    import Header from "$lib/components/Header.svelte";
    import Content from "$lib/components/Content.svelte";
    import "$lib/css/main.css";
</script>

<Header/>

<Content>
    <slot/>
</Content>
