<script>
    import Card from "$lib/components/Card.svelte"

    export let data;
</script>

<Card>
    <div class="title">
        <span>{data.name}</span>
    </div>
    <div class="subtitle">
        <span>{data.location}</span>
    </div>
</Card>

<style>
    .title {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .subtitle {
        font-size: 13px;
        color: #666;
    }
</style>
