<script>
    import RandomCinemaPopup from "./RandomCinemaPopup.svelte"
    import Card from "$lib/components/Card.svelte"

    export let data;
    export let index;

    let isCinemaSearchVisible = false;
</script>

<Card>
    <div class="movie">
        <div class="index">
            {index}
        </div>
        <div class="image">
            <img alt={data.title} src={data.image}/>
        </div>
        <div class="content">
            <div class="description">
                <div class="title">
                    <span>{data.title}</span>
                </div>
                <div class="info">
                    <span>
                        {data.titleOrig}, {data.year}, {data.duration} мин.
                    </span>
                </div>
                <div class="secondary-info">
                    <span>
                        {data.country} • {data.genre}; Режиссер: {data.producer}
                    </span>
                </div>
                <div class="secondary-info">
                    <span>
                        В ролях: {data.actors}
                    </span>
                </div>
            </div>
            <div class="actions">
                <div class="find-cinemas">
                    <button
                        on:mouseover={() => isCinemaSearchVisible = true} 
                        on:mouseleave={() => isCinemaSearchVisible = false}
                    >
                        Найти в кинотеатрах
                    </button>
                    <RandomCinemaPopup isVisible={isCinemaSearchVisible}/>
                </div>
            </div>
        </div>
    </div>
</Card>


<style>
    .movie {
        display: flex;
        flex-direction: row;
    }
    .image img {
        width: 80px;
    }
    .content {
        margin-left: 18px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .index {
        width: 40px;
    }
    .index, .title {
        font-size: 18px;
        font-weight: 800;
    }
    .title {
        margin-bottom: 8px;
    }
    .info, .secondary-info {
        font-size: 13px;
    }
    .info {
        margin-bottom: 8px;
    }
    .secondary-info {
        color: #666;
        margin-bottom: 4px;
    }
    .find-cinemas button {
        border: none;
        background: #ddd;
        cursor: pointer;
        font-size: 14px;
        transition: .2s linear;
        border-radius: 100px;
        padding: 10px 14px;
        -webkit-user-selectp: none;
        -ms-user-select: none;
        user-select: none;
    }
    .find-cinemas button:focus, .find-cinemas button:hover {
        background: #d8d8d8;
    }
</style>
