<script>
    import Movie from "./Movie.svelte";

    export let movies = [];
</script>

<div class="movie-list">
    {#each movies as movie, i}
        <Movie index={i + 1} data={movie}/>
    {/each}
</div>
