<script>
    import { cinemas } from "$lib/data/cinemas.js";

    export let isVisible = false;

    let getRandomCinemas = () => {
        const shuffled = cinemas.sort(() => 0.5 - Math.random());
        let amount = Math.floor(Math.random() * cinemas.length);
        if (amount == 0 && cinemas.length > 0) {
            amount = 1;
        } else if (amount > 5) {
            amount = 5;
        }
        const selected = shuffled.slice(0, amount);
        return selected;
    }

    const randomCinemas = getRandomCinemas();
</script>

<div class="popup-wrapper">
    <div class="popup" class:visible={isVisible}>
        {#each randomCinemas as cinema}
            <p>{cinema.name}</p>
        {/each}
    </div>
</div>

<style>
    .popup-wrapper {
        position: relative;
        width: 100%;
    }
    .popup {
        visibility: hidden;
        opacity: 0;
        transition: .1s ease;
        position: absolute;
        top: 10px;
        right: 0;
        border-radius: 18px;
        min-width: 100%;
        white-space: nowrap;
        background: #ddd;
        padding: 10px 14px;
        z-index: 100;
        box-sizing: border-box;
        font-size: 14px;
    }
    .popup.visible {
        visibility: visible;
        display: block;
        opacity: 1;
    }
</style>
