<div class="card">
    <slot/>
</div>

<style>
    .card {
        width: 100%;
        border-radius: 16px;
        margin-bottom: 0;
        transition: .2s linear;
        padding: 24px 20px;
        margin: 0;
        box-sizing: border-box;
        position: relative;
    }
    .card::before {
        content: "";
        position: absolute;
        height: 1px;
        top: 0px;
        left: 16px;
        right: 16px;
        background: #eee;
    }
    .card:hover {
        background: #eee;
    }
</style>
