<div class="content-wrapper">
    <div class="content">
        <slot/>
    </div>
</div>


<style>
    .content-wrapper {
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    .content {
        margin: 30px 20px;
    }
</style>
