<div class="header">
    <div class="header__content">
        <div class="header__left">
            <div class="logo">
                Movies
            </div>
        </div>
        <div class="header__right">
            <a class="nav-item" href="/">Топ фильмов</a>
            <a class="nav-item" href="/cinema">Кинотеатры</a>
        </div>
    </div>
</div>

<style>
    .header {
        height: 80px;
        background: #112;
        width: 100%;
        -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
        color: #ddd;
    }
    .header__content {
        width: 100%;
        max-width: 800px;
        margin: auto;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    .logo {
        font-weight: 900;
    }
    .header__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .header__right .nav-item:not(:last-child) {
        margin-right: 30px;
    }
    .nav-item {
        color: inherit;
        text-decoration: none;
    }
</style>
